<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true" throwConfigExceptions="true" internalLogLevel="Info" internalLogToConsole="true">
  <targets>
    <!--
    <target xsi:type="AsyncWrapper"
            name="ASYNC"
            queueLimit="1000000"
            batchSize="1000"
            overflowAction="Grow">
    -->
    <target name='splunk'
            type='HTTP'
            URL='https://localhost:8088/services/collector/event'
            Authorization='Splunk cd3f0725-5e56-440b-bafc-0ccb663537c1'
            BatchSize='10000'
            InMemoryCompression='false'>
      <header name='X-Auth' value='secret'/>
      <header name='X-Hash' value='SHA512'/>
      <layout type='JsonLayout'>
        <!--<attribute name='sourcetype' layout='_json' />-->
        <attribute name='host' layout='localhost' />
        <attribute name='event' encode='false'>
          <layout type='JsonLayout'>
            <attribute name='level' layout='${level:upperCase=true}' />
            <attribute name='logger' layout='${logger}' />
            <attribute name='thread' layout='${threadid}' />
            <attribute name='message' layout='${message}' />
            <attribute name='utc' layout='${date:universalTime=true:format=yyyy-MM-dd HH\:mm\:ss.fff}' />
          </layout>
        </attribute>
      </layout>
    </target>
    <!--
    </target>
  -->
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="splunk" />
  </rules>
</nlog>