<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
        <target name="splunk" type="HTTP" URL="https://us-splunk-hec.1dc.com/services/collector/event" 
                Authorization="Splunk 1c8c9650-8c63-49f1-9968-edb95acc8773" BatchSize="250">
            <layout type="JsonLayout">              
                <attribute name="time" layout="${unixtime}"/>
                <attribute name="host" layout="${machinename}" />
                <attribute name="source" layout="Paypoint_Logger_DEV" />
                <attribute name="sourcetype" layout="paypoint_logs:hec" />
                <attribute name="index" layout="application_na" />
                <attribute name="event" encode="false">
                    <layout type="JsonLayout">
                        <attribute name="appl" layout="test"/>
                        <attribute name="msgsource" layout="${logger}"/>
                        <attribute name="msgtype" layout="testtest"/>
                        <attribute name="priority" layout="2" encode="false"/>
                        <attribute name="interactionid" layout="${event-properties:item=interactionid}"/>
                        <attribute name="seq" layout="${event-properties:item=seq}" encode="false"/>
                        <attribute name="thread" layout="${threadid}" encode="false"/>
                        <attribute name="message" layout="${message}" />
                        <attribute name="instance" layout="Alpha"/>
                    </layout>
                </attribute>
            </layout>          
        </target>
    </targets>
    <rules>
        <logger name="*" minlevel="Debug" writeTo="splunk" />
    </rules>
</nlog>