<NuGetPack>
  <AddFrameworkReferences>false</AddFrameworkReferences>
  <IconUrl>https://raw.githubusercontent.com/DarekDan/NLog.Targets.HTTP/master/nlog.ico</IconUrl>
  <ProjectUrl>https://github.com/DarekDan/NLog.Targets.HTTP</ProjectUrl>
  <LicenseUrl>https://github.com/DarekDan/license</LicenseUrl>
  <License type="file">content\LICENSE.TXT</License>
  <Authors>Dariusz Danielewski and Stan Smith</Authors>
  <Owners>Dariusz Danielewski and Stan Smith</Owners>
  <Copyright>Copyright (C) 2019</Copyright>
  <Description>An NLog Target capable of sending messages to an HTTP end-point</Description>
  <Summary>NLog HTTP Target</Summary>
  <Keywords>NLog, HTTP, Splunk</Keywords>
</NuGetPack>