<NuGetPack>
  <AddFrameworkReferences>false</AddFrameworkReferences>
  <IconUrl>http://project.url/favicon.ico</IconUrl>
  <ProjectUrl>http://project.url</ProjectUrl>
  <LicenseUrl>http://project.url/license</LicenseUrl>
  <Authors>Demo Author</Authors>
  <Owners>Demo Owner</Owners>
  <Copyright>Demo Copyright</Copyright>
  <Description>Demo Description</Description>
  <Summary>Demo Summary</Summary>
  <Keywords>Demo, Key, Word</Keywords>
</NuGetPack>