<nlog>
  <targets>
    <target name='splunk' type='HTTP' URL='https://input-prd-p-9dvvm7mz6x87.cloud.splunk.com:8088/services/collector'
            Authorization='Splunk a575956e-10a5-4048-8b69-3f064da1ca88'>
      <layout type='JsonLayout'>
        <attribute name='sourcetype' layout='_json' />
        <attribute name='host' layout='MyPD' />
        <attribute name='event' encode='false'>
          <layout type='JsonLayout'>
            <attribute name='level' layout='${level:upperCase=true}' />
            <attribute name='source' layout='${logger}' />
            <attribute name='message' layout='${message}' />
          </layout>
        </attribute>
      </layout>
    </target>
  </targets> <rules>
    <logger name="*" minlevel="Debug" writeTo="splunk" />
  </rules>
</nlog>