<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
        <target name="splunk" type="HTTP" URL="https://us-splunk-hec.1dc.com/services/collector/event" 
                Authorization="Splunk 1c8c9650-8c63-49f1-9968-edb95acc8773" BatchSize="250">
            <layout type="JsonLayout">
                <attribute name="time" encode="false">
                    <layout type="unix-time">
                        <attribute name="${date}"/>
                    </layout>
                </attribute>    
                <attribute name="host" layout="ML-C02YG0TWJGH6" />
                <attribute name="source" layout="UnitTest" />
                <attribute name="sourcetype" layout="paypoint_logs:hec" />
                <attribute name="index" layout="application_na" />
                <attribute name="event" encode="false">
                    <layout type="JsonLayout">
                        <attribute name="appl" layout="test"/>
                        <attribute name="msgsource" layout="${logger}"/>
                        <attribute name="msgtype" layout="test"/>
                        <attribute name="priority" layout="2"/>
                        <attribute name="interactionid" layout="44D54911-C6B7-49A3-9424-9B564995389A"/>
                        <attribute name="seq" layout="816"/>
                        <attribute name="thread" layout="${threadid}" />
                        <attribute name="message" layout="${message}" />
                        <attribute name="instance" layout="Alpha"/>
                    </layout>
                </attribute>
            </layout>
        </target>
    </targets>
    <rules>
        <logger name="*" minlevel="Debug" writeTo="splunk" />
    </rules>
</nlog>